<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>数据可视化demo</title>
    <link href="../styles/common.css" rel="stylesheet">
    <script src="../scripts/Plugin/jquery-3.3.1.min.js"></script>
    <script src="../scripts/Plugin/echarts.min.js"></script>
    <script src="../scripts/common.js"></script>
    <script src="../scripts/quota.js"></script>
</head>

<body>
    <!--顶部-->
    <header class="header left">


        <div class="left nav">
            <ul>
                <li><i class="nav_1"></i><a href="index.html">整体情况</a> </li>
                <li><i class="nav_2"></i><a href="quota.html">内存情况</a> </li>
                <li><i class="nav_3"></i><a href="trend.html">运行分析</a> </li>
            </ul>
        </div>
        <div class="header_center me-center" style="position:relative">

            <h2><strong>系统可用资源</strong></h2>

        </div>

    </header>

    <!--内容部分-->

</body>

</html>